# 제어문

## - 조건문 : 조건을 검사해 분기하는 구문
## - 반복문 : 구간이나 조건을 만족하는 동안 코드의 일부분을 반복하는 구문

---------------

### 조건문 : if문
### 지정된 범위만큼 반복 : for문
### 조건이 맞을때만 반복 : while문

-------------------

## 01. 조건에 따라 분기하는 if문

## if : 단일 조건에 따라서 분기

In [1]:
x = 100

if x >= 90:
    print('축하합니다.')
    print('당신은 합격입니다.')

축하합니다.
당신은 합격입니다.

##  if ~ else : 단일 조건 및 그 외 조건에 따른 분기

In [2]:
x = 80

if x >= 90:
    print('축하합니다.')
    print('당신은 합격입니다.')
else:
    print('죄송합니다.')
    print('당신은 불합격입니다.')

죄송합니다.
당신은 불합격입니다.

In [3]:
x = 100
if x >= 90:
    print('Pass')
else:
    print('Fail')

Pass

##  if ~ elif ~ else : 여러 조건에 따른 분기

In [4]:
x = 85

if x >= 90:
    print("Very good")
elif (x >= 80) and (x < 90):
    print("Good")
else:
    print("Bad")

Good

In [5]:
x = 85

if x >= 90:
    print("Very Good")
elif 80 <= x < 90:
    print("Good")
else:
    print("Bad")

Good

In [6]:
x=100

if x >= 90:
    print("우수합니다.")
elif 80 <= x < 90:
    print("잘했습니다.")
else:
    print("분발합시다.")

우수합니다.

## 중첩 조건문 : 조건문 안에 또 다른 조건문을 사용

In [7]:
x = 100

if x >= 90:
    if x == 100:
        print("완벽합니다.")
    else:
        print("훌륭합니다.")
elif 80 <= x < 90:
    print("잘했습니다.")
else:
    print("노력이 필요합니다.")

완벽합니다.

In [8]:
x = 95

if x >= 90:
    if x == 100:
        print("Perfect")
    else:
        print("Very good")
elif (x >= 80) and (x < 90):
    print("Good")
else:
    print("Bad")

Very good

## pass :  코드가 실행되기는 하지만 아무 일도 일어나지 않음

In [9]:
x = 75

if x >= 80:
    pass
else:
    pass

--------------------------

## 02. 지정된 범위만큼 반복하는 for 문

In [10]:
a = 0

In [11]:
print(a)

0

In [12]:
a = a + 1

In [13]:
print(a)

1

In [14]:
a = a + 1

In [15]:
print(a)

2

In [16]:
for a in [0, 1, 2, 3, 4, 5]:
    print(a)

0
1
2
3
4
5

In [17]:
for a in [0, 1, 2, 3, 4, 5]:
    print(a)
    print(a + 10)

0
10
1
11
2
12
3
13
4
14
5
15

## 반복 범위 지정 
### 1) 리스트 이용
### 2) range() 함수 이용

In [18]:
for a in [0,1,2,3,4,5]:
    print(a)

0
1
2
3
4
5

In [19]:
myFriends = ['James','Robert','Lisa','Mary']
for myFriend in myFriends:
    print(myFriend)

James
Robert
Lisa
Mary

In [20]:
print(range(0, 10, 1))

range(0, 10)

In [21]:
for a in range(0,6,1):
    print(a)

0
1
2
3
4
5

In [22]:
for a in range(0,10,2):
    print(a)

0
2
4
6
8

In [23]:
for a in range(5):
    print(a)

0
1
2
3
4

In [24]:
for a in range(0,5,1):
    print(a)

0
1
2
3
4

## 중첩 for 문

In [25]:
x_list=['x1','x2']
y_list=['y1','y2']

print("x y")
for x in x_list:
    for y in y_list:
        print(x,y)

x y
x1 y1
x1 y2
x2 y1
x2 y2

 ## 여러개의 리스트 for문 이용해 다루기

In [26]:
names = ['James','Robert','Lisa','Mary']
scores = [95, 96, 97, 94]

In [27]:
for k in range(len(names)):
    print(names[k], scores[k])

James 95
Robert 96
Lisa 97
Mary 94

#### zip() : 같은 길이의 데이터를 하나로 묶어주는 함수

In [28]:
for name,score in zip(names,scores):
    print(name,score)

James 95
Robert 96
Lisa 97
Mary 94

## 03. 조건에 따라 반복하는 while 문

In [29]:
i=0
sum=0

In [30]:
print("i sum")

i sum

In [32]:
while (sum < 20 ):
    i = i+1
    sum = sum + i
    print(i, sum)

1 1
2 3
3 6
4 10
5 15
6 21

## 04. 반복문을 제어하는 break와 continue

In [33]:
k=0

while True:
    k = k + 1
    
    if (k > 3):
        break
        
    print(k)

1
2
3

In [34]:
k=0

while True:
    k = k + 1
    
    if k>10:
        break
    print(k)

1
2
3
4
5
6
7
8
9
10

In [35]:
for k in range(10):
    if k>2:
        break
        
    print(k)

0
1
2

In [36]:
for k in range(5):
    if k==2:
        continue
        
    print(k)

0
1
3
4

In [37]:
k = 0
while True:
    k = k + 1
    
    if k==2:
        print("continue next")
        continue
        
    if k>4:
        break
        
    print(k)

1
continue next
3
4

## 05. 간단하게 반복하는 한 줄 for 문

### 리스트 컴프리헨션

In [46]:
numbers = [1,2,3,4,5]
square = []

for i in numbers:
    square.append(i**2)
    
print(square)

[1, 4, 9, 16, 25]

In [43]:
numbers = [1,2,3,4,5]
square = [i**2 for i in numbers]
print(square)

[1, 4, 9, 16, 25]

### 조건문을 포함한 리스트 컴프리헨션

In [44]:
numbers = [1,2,3,4,5]
square = []

for i in numbers:
    if i >= 3:
        square.append(i**2)
        
print(square)

[9, 16, 25]

In [45]:
numbers = [1,2,3,4,5]
square = [i**2 for i in numbers if i>=3]

print(square)

[9, 16, 25]

----------------